<h1>All Events</h1>
<ul>
  <% @events.each do |event| %>
    <li>
      <%= link_to event.name, event_path(event) %>
      <br>
      <%= event.date.strftime("%B %d, %Y") %>
    </li>
  <% end %>
</ul>
